<?xml version="1.0" encoding="utf-8"?>
<DigitalSignageConfig>
  <!--audio does not require duration attribute. It will be played back in a loop end to end-->
  <Audio>
  </Audio>
  <Display>
    <file type="webpage" path="http://grabosky.azurewebsites.net/CarniDigiSign/5050.html" duration="15"/>
    <file path="Assets\Screens\cans.png" duration="5"/>
    <file path="Assets\Screens\Oyster_special.png" duration="8"/>
    <file path="Assets\Screens\draft.png" duration="5"/>
    <file type="webpage" path="http://grabosky.azurewebsites.net/CarniDigiSign/beer.html" duration="15"/>
  </Display>
</DigitalSignageConfig>