<?xml version="1.0" encoding="utf-8"?>
<DigitalSignageConfig>
  <!--audio does not require duration attribute. It will be played back in a loop end to end-->
  <Audio>
  </Audio>
  <Display>
    <file path="Assets\Screens\logo.png" duration="5"/>
    <file path="Assets\Screens\food.png" duration="20"/>
    <file path="Assets\Screens\wine.png" duration="15"/>
    <file type="webpage" path="http://grabosky.azurewebsites.net/CarniDigiSign/5050.html" duration="20"/>
    <file path="Assets\Screens\Oyster_special.png" duration="10"/>
    <file path="Assets\Screens\untappd.png" duration="5"/>
    <file type="webpage" path="http://grabosky.azurewebsites.net/CarniDigiSign/beer.html" duration="30"/>
    <file path="Assets\Screens\cans.png" duration="15"/>
    <file path="Assets\Screens\draft.png" duration="15"/>
    <file type="webpage" path="http://grabosky.azurewebsites.net/CarniDigiSign/food.html" duration="30"/>
    <file path="Assets\Screens\connect.png" duration="10"/>
  </Display>
</DigitalSignageConfig>