<?xml version="1.0" encoding="utf-8"?>
<DigitalSignageConfig>
  <!--audio does not require duration attribute. It will be played back in a loop end to end-->
  <Audio>
  </Audio>
  <Display>
    <file type="webpage" path="http://scbcarnival.com/5050" duration="20"/>
    <file path="Assets\Screens\Oyster_special.png" duration="15"/>
    <file type="webpage" path="https://business.untappd.com/boards/22022" duration="65"/>
  </Display>
</DigitalSignageConfig>